/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); */


@font-face {
    font-family: 'Urbane Rounded Demi';
    src: url('../assets/font-license/Urbane Rounded/desktop/UrbaneRounded-DemiBold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Urbane Rounded';
    src: url('../assets/font-license/Urbane Rounded/desktop/UrbaneRounded-Light.otf') format('opentype');
  }

.content {
    position: relative;
    background-image: url("../assets/images/layeredblend4.svg");
    background-size: cover; /* Cover the entire .content area */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
    padding-top: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.content .textbox {
    position: relative;
    max-width: 600;
}

.textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    color: #000000;
    line-height: 1.5;
    margin-right: 40em;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex: 1 0 20%; /* This will make the textboxes take up equal space */
    margin:10px;
    transition: background-color 0.5s ease; /* Add a transition for smooth color change */
}

.textbox::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #f8f8f8 100%, #f8f8f8 100%, #f8f8f8 100%);
    transform: rotate(30deg);
    z-index: -1;
    opacity: 0;
}

.textbox::after {
    content: "";
    position: absolute;
    bottom: -80px;
    right: -80px;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #f8f8f8 100%, #f8f8f8 100%);
    transform: rotate(-30deg);
    z-index: -1;
    opacity: 0;
}

.textbox:hover {
    transform: scale(1.1);
    background-color: #f8f8f8; /* Change the background color to grey on hover */
}

.textbox p img {
    width: 25px; /* Adjust the width of the icons */
    height: auto; /* Keep the aspect ratio */
    vertical-align: middle; /* Align the icons with the text */
    margin-right: 10px; /* Add some space between the icon and the text */
  }

.doglogo {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 35%;
    transform: translateY(200px);
}

.aboutapp{
    font-family: 'Outfit', sans-serif;
	font-weight: 600;
    font-style: normal;
    font-size: 32px; /* Increase the font size */
    text-align: center; /* Center the text */
    color: #EF8214; /* Change the text color */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  */
    margin-bottom: 20px; /* Add some space below the heading */
}

.steps-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.appdog {
    width: 25%;
}

@media (max-width: 768px) {
    .textbox {
        width: 15em;
    }
}