@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.blog-section {
  padding: 50px 20px;
  background-color: #f8f8f8;
  color: #333;
}

.blog-header {
  text-align: center;
  margin-bottom: 2rem;
  color: #333; /* The color for the main title */
  font-size: 32px;
  margin-bottom: 3vh;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.blog-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-title {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.blog-description {
  margin: 1rem 0;
}

@media (max-width: 960px) {
  .blog-card {
    width: calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  .blog-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
