.footer {
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2); /* Add box shadow to footer */
  padding: 20px;
  /* background-image: url("../assets/images/wave-black.svg"); */
  background-size: cover; /* Cover the entire .footer area */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.social-media button {
  margin: 0 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.footer-links p {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

.footer-links p:hover {
  text-decoration: underline;
}

.footer-company-name {
  font-weight: bold;
  font-size: 18px;
}