/* .top-banner {
    background-color: #ff4500;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
  }
  
  .nav-item:hover {
    color: #ff4500;
  } */

@font-face {
  font-family: 'Urbane Rounded Demi';
  src: url('../assets/font/UrbaneRounded-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbane Rounded';
  src: url('../assets/font/UrbaneRounded-Light.ttf') format('truetype');
}

h2 {
	font-family: 'Urbane Rounded Demi';
	font-weight: 600;
    font-style: normal;
}

p {
	font-family: 'Urbane Rounded';
    font-weight: 300;
    font-style: normal;
}

.logo {
    /* height: 5%; */
    width: 15%;
    /* padding-top: 10px; */
}

.container {
	padding: 10px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(252, 250, 251);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav ul li {
	display: inline-block;
  list-style: none;
  padding: 0 30px; /* Use padding instead of margin */
  border-right: 2px solid #000;
}

nav ul li:last-child {
  border-right: none; /* Remove the border from the last list item */
}

nav ul li a {
	font-family: 'Urbane Rounded Demi';
	font-weight: 600;
    font-style: normal;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after {
	content:'';
	width: 0;
	height: 3px;
	background: #EF8214;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

@keyframes running-dog {
  0% { transform: translateX(0px); }
  100% { transform: translateX(1400px); }
}

.dog-gif {
  height: 100%;
  object-fit: contain;
  position: absolute;
  animation: running-dog 10s linear infinite;
  z-index: -1;
}