.signup-form {
    text-align: center;
    padding: 20px;
    padding: 10% 0%;
    background-image: url("../assets/images/mailinglistbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.signup-form .email-input {
    margin: 10px 0;
    width: 250px;
}

.signup-form .submit-button {
    margin-top: 20px;
    /* margin-left: 5%; */
}

.success-message {
    color: #50fa7b;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}