.signup-form {
    text-align: center;
    padding: 20px;
    padding: 10% 0%;
    background-image: url("../assets/images/circlenew2.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-form h2 {
    margin-bottom: 5%;
}

.signup-form .email-input {
    margin: 10px 0;
    width: 250px;
}

.signup-form .submit-button {
    margin-top: 20px;
    margin-left: 50px;
}

.success-message {
    color: #50fa7b;
}
