@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.services {
    text-align: center;
    padding: 50px;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .services-header {
    max-width: 50%;
  }
  
  .services-header h2 {
    color: #EF8214; /* The color for the subtitle */
    font-size: 28px;
    margin-bottom: 5px;
    font-family: 'Outfit', sans-serif;
	  font-weight: 600;
    font-style: normal;
  }
  
  .services-header h1 {
    color: #333; /* The color for the main title */
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
	  font-weight: 600;
    font-style: normal;
  }
  
  .services-header p {
    color: #666; /* The color for the paragraph */
    margin-bottom: 50px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .service-cards {
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 3%;
}
  
  .service-card {
    width: 300px; /* Example width, adjust as needed */
    height: 200px;
    margin: 8%;
    padding: 5%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 150px; /* Adjust as needed */
    margin-bottom: 30px;
    perspective: 1000px;
    cursor: pointer;
    backface-visibility: hidden;
  }

  .service-card-text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding-left: inherit;
    text-align: left;
  }

  /* .service-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  } */
  
  .service-card img {
    width: 60px;
    margin-bottom: 20px;
    border: 3px solid #EF8214;
    border-radius: 30%;
    /* padding: 10px; */
  }
  
  
  .service-card h3 {
    color: #333;
    margin-bottom: 15px;
    font-family: 'Outfit', sans-serif;
	font-weight: 600;
    font-style: normal;
    font-size:medium;
  }
  
  .service-card p {
    color: #666;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  /* .services-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.service-card-left, .service-card-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; 
    width: 40%; /* Adjust the width so two cards fit per line */
}

.service-card .card-front, .service-card .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: #f8f8f8; /* Set background color to match card color */
}

.service-card .card-front {
  background: #fff;
  align-items: center;
    justify-content: center;
}

.service-card .card-back {
  align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    position: absolute;
    background: #fff; /* Set background color to match card color */
}
.card-front, .card-back {
  backface-visibility: hidden;
}

.service-card.flipped .card-front {
  transform: rotateY(-180deg);
}

.service-card.flipped .card-back {
  transform: rotateY(0deg);
}
  
  @media (max-width: 960px) {
    .service-card {
      width: calc(50% - 20px); /* Adjust for tablet view */
    }
  }
  
  @media (max-width: 768px) {
    .service-card {
      width: 17em; /* Adjust for mobile view */
    }

    .service-card-left {
      margin-right: 4em;
      margin-left: 4em;
    }

    .service-card-right {
      margin-left: 4em;
    }

    .services-header h1 {
      width: 8em;
      text-align: center;
      margin-left: -1.4em;
    }

    .services-header p {
      width: 18em;
      text-align: center;
      margin-left: -4em;
    }


  }
  